<div class="panel panel-default">
  <div class="panel-heading">
    Create your beautiful place
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @room , html: {multipart: true} do |f| %>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Home Type</label>
              <%= f.select :home_type, [["Apartment","Apartment"], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast"]], id:"home_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Room Type</label>
              <%= f.select :room_type, [["Entire","Entire"], ["Private", "Private"], ["Shared", "Shared"]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Accommodate</label>
              <%= f.select :accommodate, [["1",1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6+", 6]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Bedrooms</label>
              <%= f.select :bed_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], promp: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Bathrooms</label>
              <%= f.select :bath_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], promp: "Select...", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Listing name</label>
            <%= f.text_field :listing_name, placeholder: "Be clear and descriptive", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Summary</label>
            <%= f.text_area :summary, rows: 5, placeholder: "Tell about your house", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Address</label>
            <%= f.text_field :address, placeholder: "What is your address?", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_tv %> TV
            </div>
            <div class="form-group">
              <%= f.check_box :is_kitchen %> Kitchen
            </div>
            <div class="form-group">
              <%= f.check_box :is_internet %> Internet
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_heating %> Heating
            </div>
            <div class="form-group">
              <%= f.check_box :is_air %> Air Conditioning
            </div>
          </div>
        </div>
<%if current_user.admin? %>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Nightly Price</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                  <%= f.text_field :price, placeholder: "eg. $100", class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
<%end%>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="btn btn-default btn-file">
                <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
                <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>
          </div>
        </div>

        <div id="photos"><%= render 'photos/list' %></div>
<%if current_user.admin? %>
        <div class="row">
          <div class="form-group">
            <%= f.check_box :active %> Active
          </div>
        </div>
<%end%>
<% if  @hasReview %>
          <div class="row">
            <div class="col-md-12">
              <h3>Reviews <span id="average_rating"></span> (<%= @reviews.count %>)</h3>
            <div class="container">
              <div>
                <%= render 'reviews/list' %>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
        <% else %>
        <div class="row">
          <p>No reviews yet</p>
        </div>
<% end %>
<% if @booked %>
<div class="row">
    <div class="col-md-6">
      <label>Check In</label>
      <%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Date', class: 'form-control' %>
    </div>
<% else %>
<div class="row">
  <p>No bookings yet</p>
</div>
<% end %>
<% end %>
    </div>
  </div>
</div>
<script>

  function unavailable(date) {
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavailableDates) == -1];
  }
  $(function() {

    unavailableDates = [];

    $.ajax({
      url: '/preload',
      data: {'room_id': <%= @room.id %>},
      dataType: 'json',
      success: function(data) {

        $.each(data, function(arrID, arrValue) {
          var startDate = new Date(arrValue.start_date);
          var endDate = new Date(arrValue.end_date);

          for(var d = startDate; d <= endDate; d.setDate(d.getDate() + 1)) {
              unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        });

        $('#reservation_start_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: unavailable,
          onSelect: function(selected) {
            $('#reservation_end_date').datepicker("option", "minDate", selected);
            $('#reservation_end_date').attr('disabled', false);

            var start_date = $(this).datepicker('getDate');
            var end_date = $('#reservation_end_date').datepicker('getDate');
            var days = (end_date - start_date)/1000/60/60/24 + 1

            var input = {
              'start_date': start_date,
              'end_date': end_date,
              'room_id': <%= @room.id %>
            }

            $.ajax({
              url: "/preview",
              data: input,
              success: function(data) {

                if (data.conflict) {

                  $('#message').text("This date range is not available.");
                  $('#preview').hide();
                  $('#btn_book').attr('disabled', true);

                } else {

                  $('#preview').show();
                  $('#btn_book').attr('disabled', false);

                  var total = days * <%= @room.price %>
                  $('#reservation_days').text(days);
                  $('#reservation_sum').text(total);
                  $('#reservation_total').val(total);

                }
              }
            });
          }
        });
        $('#reservation_end_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: unavailable,
          onSelect: function(selected) {
            $('#reservation_start_date').datepicker("option", "maxDate", selected);

            var start_date = $('#reservation_start_date').datepicker('getDate');
            var end_date = $(this).datepicker('getDate');
            var days = (end_date - start_date)/1000/60/60/24 + 1

            var input = {
              'start_date': start_date,
              'end_date': end_date,
              'room_id': <%= @room.id %>
            }

            $.ajax({
              url: "/preview",
              data: input,
              success: function(data) {

                if (data.conflict) {

                  $('#message').text("This date range is not available.");
                  $('#preview').hide();
                  $('#btn_book').attr('disabled', true);

                } else {

                  $('#preview').show();
                  $('#btn_book').attr('disabled', false);

                  var total = days * <%= @room.price %>
                  $('#reservation_days').text(days);
                  $('#reservation_sum').text(total);
                  $('#reservation_total').val(total);

                }
              }
            });
          }
        });
      }
    });
  });
</script>